@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ----------------------- General CSS ---------------------------- */
:root {
  --primary-color: #2b3035;
  --secondary-color: #6741d9;
  --tertary-color: #343a40;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #212529;
  font-family: "Roboto";
  color: #ffffff;
}

#root {
  width: 100%;
  height: 100vh;
  padding: 30px 50px;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

ul {
  list-style: none;
}

/* CSS for Header */
header {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .logo img {
  width: 32px;
  height: 32px;
}

header .logo p {
  font-weight: 700;
  font-size: 1.25em;
}

header input {
  width: 400px;
  border: none;
  border-radius: 8px;
  background-color: #7950f2;
  outline: none;
  font-size: 20px;
  color: rgba(255, 255, 255, 75%);
  padding: 10px 20px;
}

header input::placeholder {
  color: rgba(255, 255, 255, 35%);
}

header .results-found {
  font-size: 1.25em;
}

/* ----------------------- CSS for Main ------------------------- */
main {
  display: flex;
  gap: 60px;
}

main .all-movies {
  width: 350px;
  min-height: 500px;
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 8px 0;
}

main .all-movies ul {
  width: 100%;
}

main .all-movies li {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid var(--tertary-color);
  padding: 15px 20px;
  transition: background-color 200ms ease-in-out;
}

main .all-movies li:hover {
  background-color: var(--tertary-color);
}

.all-movies li img {
  width: 36px;
  height: 53px;
}

.all-movies li .movie-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.all-movies li .date {
  font-size: 0.75em;
}

main .watched {
  width: 355px;
  min-height: 105px;
  height: max-content;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-radius: 12px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1000;
  width: 24px;
  height: 24px;
  padding: 6px;
  border: none;
  border-radius: 1000px;
  background-color: #131313;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.close-btn:hover {
  background-color: #000000;
}

main .watched .watched-data {
  width: 100%;
  height: 105px;
  background-color: var(--tertary-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 20px;
}

.watched .watched-data .heading {
  font-weight: 700;
}

.watched .watched-data ul {
  display: flex;
  gap: 20px;
}

.watched .watched-data li {
  font-size: 14px;
}

main .watched .watched-list {
  width: 100%;
  border-radius: 12px;
  background-color: var(--tertary-color);
  padding: 20px;
}

.watched .watched-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.watched .watched-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watched-list li .poster-data {
  display: flex;
  align-items: center;
  gap: 14px;
}

.watched-list li img {
  width: 40px;
  height: 59px;
}

.watched-list li .data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watched-list .data ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.watched-list .data li {
  font-size: 14px;
  font-weight: 300;
}

.watched-list li button {
  width: 24px;
  height: 24px;
  padding: 6px;
  background-color: #9e2323;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.watched-list li button:hover {
  background-color: #df3737;
}

.watched-list li button img {
  width: 12px;
  height: 12px;
}

.watched .movie-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  background-color: var(--tertary-color);
  padding: 25px 20px;
}

.watched .movie-header img {
  width: 100px;
  height: 148px;
  border-radius: 8px;
}

.watched .movie-header .movie-header-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-header .movie-header-data .title {
  font-size: 1.5em;
  font-weight: 600;
}

.movie-header .movie-header-data .other-detail {
  font-weight: 400;
}

.watched .movie-body {
  width: 280.5px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.watched .movie-body .rating-box {
  width: 100%;
  background-color: var(--tertary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 10px 0;
}

.movie-body .rating-box .stars {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.rating-box .stars img {
  width: 35px;
  height: 35px;
  margin-left: -9px;
}

.rating-box .stars img:first-child {
  margin-left: 2px;
}

.movie-body .rating-box button {
  width: 260px;
  border: none;
  font-size: 0.75em;
  color: #ffffff;
  font-weight: 600;
  background-color: var(--secondary-color);
  border-radius: 1000px;
  cursor: pointer;
  padding: 6px;
  transition: background-color 200ms ease-in-out;
}

.movie-body .rating-box button:hover {
  background-color: #5735bd;
}

.watched .movie-body .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-body .info p {
  font-size: 0.75em;
  font-weight: 400;
}

.movie-body .info .description {
  font-style: italic;
}
